.tradeBoard-bbs-list-container {
  padding: 20px;
}

.tradeBoard-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tradeBoard-search-input {
  width: 300px;
}

.tradeBoard-search-condition-selector {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.tradeBoard-search-condition-selector label {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tradeBoard-search-condition-selector input[type="radio"] {
  margin-right: 5px;
}

.tradeBoard-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tradeBoard-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.tradeBoard-card {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.tradeBoard-card:hover {
  transform: scale(1.05);
}

.tradeBoard-card-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.tradeBoard-card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tradeBoard-card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.tradeBoard-card-status, .tradeBoard-card-author, .tradeBoard-card-price, .tradeBoard-card-views, .tradeBoard-card-likes {
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .tradeBoard-card-list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .tradeBoard-card {
      flex-direction: column;
      width: 100%;
      max-width: 100%;
  }

  .tradeBoard-card-thumbnail {
      width: 100%;
      height: auto;
  }

  .tradeBoard-card-body {
      padding: 15px;
  }

  .tradeBoard-card-title {
      font-size: 1em;
  }

  .tradeBoard-card-status, .tradeBoard-card-author, .tradeBoard-card-price, .tradeBoard-card-views, .tradeBoard-card-likes {
      font-size: 0.8em;
  }
}

@media only screen and (min-width: 769px) {
  .tradeBoard-card-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
  }

  .tradeBoard-card {
      flex-direction: row;
      max-width: 100%;
  }

  .tradeBoard-card-thumbnail {
      width: 150px;
      height: 150px;
  }

  .tradeBoard-card-body {
      padding: 20px;
  }

  .tradeBoard-card-title {
      font-size: 1.2em;
  }

  .tradeBoard-card-status, .tradeBoard-card-author, .tradeBoard-card-price, .tradeBoard-card-views, .tradeBoard-card-likes {
      font-size: 1em;
  }
}
