/* SearchModal.css */

.search-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; /* Full width to cover the whole screen when active */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10001;
    display: flex;
    align-items: start; /* Align to top */
  }
  
  .search-modal {
    width: 30%; /* Adjust the width as needed */
    max-width: 400px; /* You can adjust max-width for responsiveness */
    height: 100%; /* Full height */
    background: #fff;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start; /* Align content to the top */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width */
  }
  
  .search-modal-content {
    position: fixed; /* Fixed position to stay at top */
    width: 20%; /* Inherit width from parent */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: #191212;
    border-bottom: 1px solid #191212;
    background: white; /* Ensure background matches modal */
    box-sizing: border-box; /* Include padding in width */
  }
  
  .search-modal-input {
    width: 90%;
    padding: 8px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-modal-input:focus {
    outline: none;
    border-color: #a2a2a2; /* Slight highlight on focus */
  }
  
  .search-modal-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .search-results {
    padding-top: 60px; /* Add padding to account for fixed input at top */
    overflow-y: auto;
    height: 100%;
  }
  