.sns-post-list {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px;
  background: #f4f5f7;
  border-radius: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  box-sizing: border-box;
}
.write-post-link {
  grid-column: 1 / 2;
  align-self: start;
  justify-self: start;
  align-self: start;
}
.sns-sidebar {
  min-width: 25%; /* Sidebar takes 25% of the space */
  border-right: 2px solid #dbdbdb;
  padding: 20px;
  box-sizing: border-box;
}
.sns-sidebar-button {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid #dbdbdb;
  margin-bottom: 8px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}
.posts-container {
  flex-grow: 1; /* Posts take the remaining space */
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  gap: 20px;
}
.post-title{
  color: #2c3e50;

  margin-left: 15px;
}

.post-card {
  list-style: none;
  background: white;
  border: 4px solid #dbdbdb;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  max-width: 100%;
  border: 1px solid #dbdbdb; /* Thinner border */
  box-shadow: none;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.post-image-container {
  position:relative;
  overflow: hidden; 
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-content {
  padding: 15px;
  color: black;
}

.post-text {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  white-space: pre-wrap; /* 공백과 줄바꿈 문자 유지 */
  word-break: break-all; 

  -webkit-box-orient: vertical;
  max-height: 4.5em; 
}
.expanded {
  max-height: none;
}

.show-more {
  color: #0095f6;
  font-size: 14px;
  cursor: pointer;
  
}

.likes-and-comments {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.likes, .comments {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 14px;
  color: #888;
}

.likes i, .comments i {
  margin-right: 5px;
}

.hashtags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.hashtag {
  background-color: #0095f6;
  color: white;
  border-radius: 5px;
  padding: 3px 6px;
  font-size: 12px;
}



.comment-input-container {
  display: flex;
  border-top: 1px solid #dbdbdb;
  padding: 8px 15px;
  align-items: center;
}

.comment-input {
  flex: 1;

  padding: 8px;
  margin-right: 8px;
  border:1px solid #2c3e50;
}

.post-comment-button {
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}
.post-time {
  color: #888;
  font-size: 0.85em;
  margin-left: 8px; /* Adjust as needed */
}
.fa-heart {
  color: #ccc; /* 기본 색상 */
  cursor: pointer;
}

.fa-heart.liked {
  color: red; /* 좋아요 상태일 때의 색상 */
}
@media (max-width: 768px) {
  .sns-post-list {
    grid-template-columns: 1fr; /* 모든 공간을 한 열로 사용 */
  }

  .posts-container {
    margin-left: 0; /* 작은 화면에서는 여백 제거 */
    padding: 10px; /* 적당한 패딩으로 조정 */
  }

  .sns-sidebar {
    min-width: 100%; /* 사이드바 너비를 화면 너비와 동일하게 조정 */
    border-right: none; /* 분리선 제거 */
    border-bottom: 2px solid #dbdbdb; /* 아래쪽에 경계선 추가 */
  }

  .post-card {
    border-radius: 5px; /* 모서리 둥글기 조정 */
  }

  .post-content, .post-text, .show-more, .likes, .comments, .hashtags {
    font-size: 12px; /* 텍스트 크기 축소 */
  }

  .post-image {
    height: auto; /* 이미지 높이 자동 조정 */
  }

  .comment-input-container {
    flex-direction: column; /* 댓글 입력과 버튼을 위/아래로 배열 */
    padding: 8px; /* 패딩 조정 */
  }

  .comment-input {
    margin-right: 0; /* 오른쪽 마진 제거 */
    margin-bottom: 8px; /* 입력창과 버튼 사이 간격 추가 */
  }

  .post-comment-button {
    width: 100%; /* 버튼 너비를 입력창과 동일하게 조정 */
  }

  .fa-heart {
    /* Example for overriding an icon's style */
    font-size: 20px; /* Adjust icon size for better mobile interaction */
  }
}
.view-count{
  color: #949393;
}

.sidebar-popular-button {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid #dbdbdb;
  background-color: white;
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: bold;
}
.popular-posts-header {
  display: flex;
  justify-content: space-evenly; /* This will space your buttons evenly */
  align-items: center;
  margin-bottom: 10px; /* Add some space before the divider */
}

.popular-button {
  padding: 8px 16px; 
  cursor: pointer;
  border-bottom: 2px solid #111010;
  border-radius: 14px;
  background-color: white;
  flex: 1; 
  white-space: nowrap; 
  margin: 0 5px; 
}

.popular-button.week {
  background-color: #f0f0f0;
}

.popular-button.month {
  background-color: #e7e7e7; 
}

.posts-divider {
  border-bottom: 2px solid #111010;
  height: 2px;
  
}